<div id = 'page'>
	<div id="above_the_fold">
		<div class="dsplash_image">
			<img src="assets/dems.png" />
		</div>
		<div class="duser_graph">
			<img src="assets/DCONV16_graph.png" />
		</div>
		<div class="ruser_graph">
			<img src="assets/RCONV16_graph.png" />
		</div>
		<div class="rsplash_image">
			<img src="assets/reps.jpg" />
		</div>
	</div>
	<div class="graph"></div>
	<script type="text/javascript" src ="assets/d3.min.js"></script>
	<script type="text/javascript">
		// creates the svg viewport selection, where the graph is going to live and be buit
		var width = 700
		var height = 300

		var svgContainer = d3.select(".graph").append("svg")
			.attr("width", width)
			.attr("height", height);

		// var can_name = ['Clinton', 'Sanders', 'Dem_ROF', 'Carson', 'Cruz', 'Rubio', 'Trump', 'Rep_ROF']


		// creates the scale that the graph is going to use for the x axis
		var xaxisScale = d3.scale.ordinal()
			.domain(['Clinton', 'Sanders', 'Dem_ROF', 'Carson', 'Cruz', 'Rubio', 'Trump', 'Rep_ROF'])
			.rangeRoundBands([0, 600], .1);

		// creates the scale that the graph is going to use for the y axis
		var yaxisScale = d3.scale.linear()
									.domain([0.00, 1.00])
									.range([250, 0])
		// actually creates the axis
		var xAxis = d3.svg.axis()
							.scale(xaxisScale);

		var yAxis = d3.svg.axis()
							.scale(yaxisScale)
							.ticks(5)
							.orient("left");

		// creates an SVG group element (g) for the axis elements to be housed within and calls the xAxis function - this is what puts it on the page
		var xAxisGroup = svgContainer.append("g")
										.attr("transform", "translate(30, 270)")
										.call(xAxis);

		var yAxisGroup = svgContainer.append("g")
										.attr("transform", "translate(35, 25)")
										.call(yAxis);

		// 
		var data = [<%= @clin %>, <%= @sand %>, <%= @dem_rof %>, <%= @car %>, <%= @cruz %>, <%= @rub %>, <%= @trump %>, <%= @rep_rof %>]

		var barWidth = 700 / data.length;

		svgContainer.selectAll("rect")
			.data(data)
			.enter()
			.append("rect")
			.attr("x", function(d, i) {
				return i * (600 / data.length); // this makes a bar with a couple pixels of padding
			})
			.attr("y", function(d) {
				return 270 - (d * 250);
			})
			.attr("width", 50)
			.attr("height", function(d) {
				return d * 250;
			})
			.attr('transform', 'translate(45, 0)');

		// var x = d3.scale.linear()
		// 	.domain([0, d3.max(data)])
		// 	.range([0, 200]);

		// var bar = svgContainer.selectAll('g')
		// 		.data(data)
		// 		.enter().append('g')
				// .attr('transform', 'translate(35, 250)')
				
		// bar.append('rect')
		// 	.attr('width', barWidth)
		// 	.attr('transform', function(d, i) { return "translate(0," + i * 100 + ")"; });



	</script>
	
	
	<div class='party dparty'>
		<h1 class="larger_text clear">Democrats</h1>
		<% while @i < @dem_array_length do %>
			<div class="dcandidate">
				<% @c = @dem[@i] %>
				<% if @c['candidate'] == 'CLIN_NOM' %>
					<h1><%= link_to 'Hillary Clinton', candidate_path(@i), class: 'cand_name' %></h1>
					<img src="assets/clinton.jpg" class="candidate_img" />
				<% elsif @c['candidate'] == 'SAND_NOM' %>
					<h1><%= link_to 'Bernie Sanders', candidate_path(@i), class: 'cand_name' %></h1>
					<img src="assets/sanders.jpg" class="candidate_img" />
				<% else %>
					<h1><%= link_to 'Democratic Rest of Field', candidate_path(@i), class: 'cand_name' %></h1>
					<img src="assets/democraticlogo.png" class="candidate_img" />
				<% end %>
				<h2><%= @c['candidate'] %></h2>
				<p>average: <%= @c['average'] %></p>
				<p>last: <%= @c['last'] %></p>
			</div>
			<% @i += 1 %>
		<% end %>
	</div>
	<br>
	<div class='party rparty'>
		<h1 class="larger_text">Republicans</h1>
		<% while @x < @rep_array_length do %>
			<div class = 'candidate'>
				<% @c = @rep[@x] %>
				<% if @c['candidate'] == 'CARS_NOM' %>
					<h1><%= link_to 'Ben Carson', candidate_path(@i), class: 'cand_name' %></h1>
					<img src="assets/carson.jpg" class="candidate_img" />
				<% elsif @c['candidate'] == 'CRUZ_NOM' %>
					<h1><%= link_to 'Ted Cruz', candidate_path(@i), class: 'cand_name' %></h1>
					<img src="assets/cruz.jpg" class="candidate_img" />
				<% elsif @c['candidate'] == 'RUBI_NOM' %>
					<h1><%= link_to 'Marco Rubio', candidate_path(@i), class: 'cand_name' %></h1>
					<img src="assets/rubio.jpg" class="candidate_img" />
				<% elsif @c['candidate'] == 'TRUM_NOM' %>
					<h1><%= link_to 'Donald Trump', candidate_path(@i), class: 'cand_name' %></h1>
					<img src="assets/trump.jpg" class="candidate_img" />
				<% else %>
					<h1><%= link_to 'Republican Rest of Field', candidate_path(@i), class: 'cand_name' %></h1>
					<img src="assets/republicanlogo.jpg" class="candidate_img" />
				<% end %>
				<h2><%= @c['candidate'] %></h2>
				<p>average: <%= @c['average'] %></p>
				<p>last: <%= @c['last'] %></p>
			</div>
			<% @x += 1 %>
			<% @i += 1 %>
		<% end %>
	</div>



	
</div>