<div id = 'page'>
	<div id="above_the_fold">
		<div class="dsplash_image">
			<img src="assets/dems.png" />
		</div>
		<div class="duser_graph">
			<%= render partial: 'dem_graph', local: {user: @user} %>
		</div>
		<div class="ruser_graph">
			<%= render partial: 'rep_graph', local: {user: @user} %>
			<!-- <img src="assets/RCONV16_graph.png" /> -->
		</div>
		<div class="rsplash_image">
			<img src="assets/reps.jpg" />
		</div>
	</div>
	<div class="graph"></div>
	<script type="text/javascript" src ="assets/d3.min.js"></script>
	<script type="text/javascript">
		// creates the svg viewport selection, where the graph is going to live and be buit
		var width = 645
		var height = 375

		var svgContainer = d3.select(".graph").append("svg")
			.attr("width", width)
			.attr("height", height);

		// creates the title for the graph
		svgContainer.append("text")
			.attr("class", "title")
			.attr("x", (width / 2))
			.attr("y", 70)
			.attr('transform', 'translate(-30, 0)')
			.style("text-anchor", "middle")
			.text("Overall Race")

		// creates an array of variables that refers back to the current averge prices of the candidates for use in the graph
		var data = [<%= @clin %>, <%= @sand %>, <%= @dem_rof %>, <%= @car %>, <%= @cruz %>, <%= @rub %>, <%= @trump %>, <%= @rep_rof %>]

		// creates an array of variables that refers back to the last reported prices for the candidates, to be used if the current data isn't displaying
		var lastdata = [<%= @clinL %>, <%= @sandL %>, <%= @dem_rofL %>, <%= @carL %>, <%= @cruzL %>, <%= @rubL %>, <%= @trumpL %>, <%= @rep_rofL %>]
		
		// creates the scale that the graph is going to use for the x axis
		var xaxisScale = d3.scale.ordinal()
			.domain(['Clinton', 'Sanders', 'Dem_ROF', 'Carson', 'Cruz', 'Rubio', 'Trump', 'Rep_ROF'])
			.rangeRoundBands([0, 600], .1);

		// creates the scale that the graph is going to use for the y axis
		var yaxisScale = d3.scale.linear()
			.domain([0.00, 1.00])
			.range([250, 0])
		// actually creates the axis
		var xAxis = d3.svg.axis()
			.scale(xaxisScale);

		var yAxis = d3.svg.axis()
			.scale(yaxisScale)
			.ticks(5)
			.orient("left");

		// creates an SVG group element (g) for the axis elements to be housed within and calls the xAxis function - this is what puts it on the page
		var xAxisGroup = svgContainer.append("g")
			.attr("class", "axis")
			.attr("transform", "translate(30, 320)")
			.call(xAxis);

		var yAxisGroup = svgContainer.append("g")
			.attr("class", "axis")
			.attr("transform", "translate(35, 75)")
			.call(yAxis);


		// creates groups for each of the bars and labels to go inside

		var bar = svgContainer.selectAll('g')
		<% if @clin || @sand || @dem_rof || @car || @cruz || @rub || @trump || @rep_rof == '---' %>
		// one weak link in the array results in the last value being displayed for all candidates
			.data(lastdata)
		<% else %>
			.data(data)
		<% end %>
			.enter()
			.append('g')
			.attr("transform", function(d) { return "translate(" + xAxisGroup(d) + ",0)"; });


		bar.append("rect")
		<% if @clin || @sand || @dem_rof || @car || @cruz || @rub || @trump || @rep_rof == '---' %>
			.data(lastdata)
		<% else %>
			.data(data)
		<% end %>
			.enter()
			.append("rect")
			.attr("x", function(d, i) { return i * (600 / data.length); })
			// this makes a bar with a couple pixels of padding
			.attr("y", function(d) { return 270 - (d * 250); })
			.attr("width", 50)
			.attr("height", function(d) { return d * 250; })
			.attr('transform', 'translate(45, 49)');

		bar.append("text")
		<% if @clin || @sand || @dem_rof || @car || @cruz || @rub || @trump || @rep_rof == '---' %>
			.data(lastdata)
		<% else %>
			.data(data)
		<% end %>
			.enter()
			.append('text')
			.attr("x", function(d, i) { return i * (600 / data.length); })
			.attr("y", function(d) { return 270 - (d * 250); })
			.attr("dy", ".75em")
	    	.text(function(d) { return d; })
			.attr('transform', 'translate(65, 30)')
			.attr('class', 'num');

	</script>
	
	
	<div class='party dparty'>
		<h1 class="larger_text clear">Democrats</h1>
		<% while @i < @dem_array_length do %>
			<div class="dcandidate">
				<% @c = @dem[@i] %>
				<% if @c['Symbol'] == 'CLIN_NOM' %>
					<h1><%= link_to 'Hillary Clinton', candidate_path(@i + 1), class: 'cand_name' %></h1>
					<img src="assets/clinton.jpg" class="candidate_img" />
				<% elsif @c['Symbol'] == 'SAND_NOM' %>
					<h1><%= link_to 'Bernie Sanders', candidate_path(@i + 1), class: 'cand_name' %></h1>
					<img src="assets/sanders.jpg" class="candidate_img" />
				<% else %>
					<h1><%= link_to 'Democratic Rest of Field', candidate_path(@i + 1), class: 'cand_name' %></h1>
					<img src="assets/democraticlogo.png" class="candidate_img" />
				<% end %>
				<h2><%= @c['Symbol'] %></h2>
				<p>average: <%= @c['Average'] %></p>
				<p>last: <%= @c['Last'] %></p>
			</div>
			<% @i += 1 %>
		<% end %>
	</div>
	<br>
	<div class='party rparty'>
		<h1 class="larger_text">Republicans</h1>
		<% while @x < @rep_array_length do %>
			<div class = 'candidate'>
				<% @c = @rep[@x] %>
				<% if @c['Symbol'] == 'CARS_NOM' %>
					<h1><%= link_to 'Ben Carson', candidate_path(@i + 1), class: 'cand_name' %></h1>
					<img src="assets/carson.jpg" class="candidate_img" />
				<% elsif @c['Symbol'] == 'CRUZ_NOM' %>
					<h1><%= link_to 'Ted Cruz', candidate_path(@i + 1), class: 'cand_name' %></h1>
					<img src="assets/cruz.jpg" class="candidate_img" />
				<% elsif @c['Symbol'] == 'RUBI_NOM' %>
					<h1><%= link_to 'Marco Rubio', candidate_path(@i + 1), class: 'cand_name' %></h1>
					<img src="assets/rubio.jpg" class="candidate_img" />
				<% elsif @c['Symbol'] == 'TRUM_NOM' %>
					<h1><%= link_to 'Donald Trump', candidate_path(@i + 1), class: 'cand_name' %></h1>
					<img src="assets/trump.jpg" class="candidate_img" />
				<% else %>
					<h1><%= link_to 'Republican Rest of Field', candidate_path(@i + 1), class: 'cand_name' %></h1>
					<img src="assets/republicanlogo.jpg" class="candidate_img" />
				<% end %>
				<h2><%= @c['Symbol'] %></h2>
				<p>average: <%= @c['Average'] %></p>
				<p>last: <%= @c['Last'] %></p>
			</div>
			<% @x += 1 %>
			<% @i += 1 %>
		<% end %>
	</div>



	
</div>