<div id = 'page'>
	<div id="above_the_fold">
		<div class="dsplash_image">
			<img src="assets/dems.png" />
		</div>
		<div class="duser_graph">
			<img src="assets/DCONV16_graph.png" />
		</div>
		<div class="ruser_graph">
			<img src="assets/RCONV16_graph.png" />
		</div>
		<div class="rsplash_image">
			<img src="assets/reps.jpg" />
		</div>
	</div>
	<!-- <svg class="graph"></svg> -->
	<div class='party dparty'>
		<h1 class="larger_text clear">Democrats</h1>
		<% while @i < @dem_array_length do %>
			<div class="dcandidate">
				<% @c = @dem[@i] %>
				<% if @c['candidate'] == 'CLIN_NOM' %>
					<h1><%= link_to 'Hillary Clinton', candidate_path(@i), class: 'cand_name' %></h1>
					<img src="assets/clinton.jpg" class="candidate_img" />
				<% else %>
					<h1><%= link_to 'Bernie Sanders', candidate_path(@i), class: 'cand_name' %></h1>
					<img src="assets/sanders.jpg" class="candidate_img" />
				<% end %>
				<h2><%= @c['candidate'] %></h2>
				<p>average: <%= @c['average'] %></p>
			</div>
			<% @i += 1 %>
		<% end %>
	</div>
	<br>
	<div class='party rparty'>
		<h1 class="larger_text">Republicans</h1>
		<% while @x < @rep_array_length do %>
			<div class = 'candidate'>
				<% @c = @rep[@x] %>
				<% if @c['candidate'] == 'CARS_NOM' %>
					<h1><%= link_to 'Ben Carson', candidate_path(@i + 1), class: 'cand_name' %></h1>
					<img src="assets/carson.jpg" class="candidate_img" />
				<% elsif @c['candidate'] == 'CRUZ_NOM' %>
					<h1><%= link_to 'Ted Cruz', candidate_path(@i + 1), class: 'cand_name' %></h1>
					<img src="assets/cruz.jpg" class="candidate_img" />
				<% elsif @c['candidate'] == 'RUBI_NOM' %>
					<h1><%= link_to 'Marco Rubio', candidate_path(@i + 1), class: 'cand_name' %></h1>
					<img src="assets/rubio.jpg" class="candidate_img" />
				<% else %>
					<h1><%= link_to 'Donald Trump', candidate_path(@i + 1), class: 'cand_name' %></h1>
					<img src="assets/trump.jpg" class="candidate_img" />
				<% end %>
				<h2><%= @c['candidate'] %></h2>
				<p>average: <%= @c['average'] %></p>
			</div>
			<% @x += 1 %>
			<% @i += 1 %>
		<% end %>
	</div>



	
</div>