	<div class="transaction">
		<%= form_for @transaction do |t| %>
			<%= t.hidden_field :user_id, :value => @user.id %>
			<%= "Ben Carson" %>
			<!-- value 1 in republican array, 4 overall is ben carson-->
			<%= t.hidden_field :candidate_id, :value => 4 %>
			
			<br>
			<br>
			<p>Price:</p><p><%= @rep[1]["average"] %></p>
			<%= t.hidden_field :price, :value => @rep[1]["average"] %>
			<%= t.select :buysell, {"Buy" => 0, "Sell" => 1}, {:prompt => "Select a type of transaction"}, {:class => "user_input" }%>
			<br>
			<br>
			<%= t.label :shares_carson %>
			<%= t.number_field :shares_caron%>
			<br>
			<br>

			<%= t.submit :class => "button user_input"%>
		<% end %>

	</div>


</div>