	<div class="transaction">
		<%= form_for @transaction do |t| %>
			<%= t.hidden_field :user_id, :value => @user.id %>
			<%= "Ted Cruz" %>
			<!-- value 2 in republican array, 5 overall is ted cruz-->
			<%= t.hidden_field :candidate_id, :value => 5 %>
			
			<br>
			<br>
			<p>Price:</p><p><%= @rep[2]["average"] %></p>
			<%= t.hidden_field :price, :value => @rep[2]["average"] %>
			<%= t.select :buysell, {"Buy" => 0, "Sell" => 1}, {:prompt => "Select a type of transaction"}, {:class => "user_input" }%>
			<br>
			<br>
			<%= t.label :shares_cruz %>
			<%= t.number_field :shares_cruz%>
			<br>
			<br>

			<%= t.submit :class => "button user_input"%>
		<% end %>

	</div>


</div>