<div class="transaction">
	<%= form_for @transaction do |t| %>
		<%= t.hidden_field :user_id, :value => @user.id %>
		<!-- value 3 is democratic rest of field -->
		<%= t.hidden_field :candidate_id, :value => 3 %>
	
		<%= t.hidden_field :price, :value => @dem[3]["average"] %>
		<%= t.select :buysell, {"Buy" => 0, "Sell" => 1}, {:prompt => "Select a type of transaction"}, {:class => "candidate_dropdown" }%>
		<br>
		<br>
		<%= t.label :shares_dem_rof %>
		<%= t.number_field :shares_dem_rof%>
		<br>
		<br>
		<%= t.submit :class => "button candidate_dropdown"%>
	<% end %>
</div>