<div class="transaction">
	<%= form_for @transaction do |t| %>
		<%= t.hidden_field :user_id, :value => @user.id %>
		<!-- value 5 in republican array, value 8 overall is republican rest of field -->
		<%= t.hidden_field :candidate_id, :value => 8 %>
		<% if @rep[5]["average"] != "---" %>
			<%= t.hidden_field :price, :value => @rep[5]["average"] %>
		<% else %>
			<%= t.hidden_field :price, :value => @rep[5]["last"] %>
		<% end %>
		<%= t.select :buysell, {"Buy" => 0, "Sell" => 1}, {:prompt => "Select a type of transaction"}, {:class => "candidate_dropdown" }%>
		<br>
		<br>
		<%= t.label :shares_rep_rof %>
		<%= t.number_field :shares_rep_rof%>
		<br>
		<br>
		<%= t.submit :class => "button candidate_dropdown"%>
	<% end %>
</div>