<div class="transaction">
	<%= form_for @transaction do |t| %>
		<%= t.hidden_field :user_id, :value => @user.id %>
		<!-- value 3 in republican array, 6 overall is rubio-->
		<%= t.hidden_field :candidate_id, :value => 6 %>
		<%= t.hidden_field :price, :value => @rep[3]["average"] %>
		<%= t.select :buysell, {"Buy" => 0, "Sell" => 1}, {:prompt => "Select a type of transaction"}, {:class => "candidate_dropdown" }%>
		<br>
		<br>
		<%= t.label :shares_rubio %>
		<%= t.number_field :shares_rubio%>
		<br>
		<br>
		<%= t.submit :class => "button candidate_dropdown"%>
	<% end %>
</div>