<div class="transaction">
	<%= form_for @transaction do |t| %>
		<%= t.hidden_field :user_id, :value => @user.id %>
		<!-- value 4 in republican array, 7 overall is donald trump-->
		<%= t.hidden_field :candidate_id, :value => 7 %>
		<% if @rep[4]["average"] != "---" %>
			<%= t.hidden_field :price, :value => @rep[4]["average"] %>
		<% else %>
			<%= t.hidden_field :price, :value => @rep[4]["last"] %>
		<% end %>
		<%= t.select :buysell, {"Buy" => 0, "Sell" => 1}, {:prompt => "Select a type of transaction"}, {:class => "candidate_dropdown" }%>
		<br>
		<br>
		<%= t.label :shares_trump %>
		<%= t.number_field :shares_trump%>
		<br>
		<br>
		<%= t.submit :class => "button candidate_dropdown"%>
	<% end %>
</div>