<!DOCTYPE html>
<html>
<head>
  <title>GroupProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>	
	<% if !current_user %>
	<header>
		<h1 class="title">
			<%= link_to 'Buy-In Election', root_path %>
		</h1>
		<nav>
			<ul>
				<li>
					<%= link_to "LOG IN", log_in_path, :class => "link" %>
				</li>
				<li>
					<%= link_to "SIGN UP", new_user_path, :class => "link" %>
				</li>
			</ul>
		</nav>
	</header>
	<% else %>
	<header>
		<h1 class="title">
			<%= link_to 'Buy-In Election', root_path %>
		</h1>
		<nav>
			<ul>
				<li>
					<%= link_to "HOME", root_path, :class => "link"%>
				</li>
				<li>
					<%= link_to "ACCOUNT", user_path(@user), :class => "link" %>
				</li>
				<li>
					<%= link_to "LOG OUT", log_out_path, :class => "link" %>
				</li>
			</ul>
		</nav>
	</header>
	<% end %>
		

<%= yield %>

	<footer>
	</footer>
</body>
</html>
